
<h3><%= @list.title %> by <%= @user.username %></h3>
<h4>Category: <%= @category %></h4>
<ol>
<% @list_content.each do |entry| %>
        <li><%= entry %></li>
<% end %>
</ol>
<a href="/lists/<%= @list.category %>/<%= @list.id %>/edit">Edit List</a><br><br>
<form action="/lists/<%= @list.category %>/<%= @list.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <button type="submit">Delete List</button>
<form>